# Cache HTML for 5 minutes in production
<FilesMatch "\.(html)$">
    Header set Cache-Control "max-age=300, public"
</FilesMatch>

# Cache JavaScript and CSS for 1 day
<FilesMatch "\.(js|css)$">
    Header set Cache-Control "max-age=86400, public"
</FilesMatch>
